
.webh1{
  padding-top: 75px;
  padding-bottom: 10px;
  font-size: 30px;
  text-align: center;
  font-family: Helvetica;
  font-style: italic;
  background-color: maroon;
  color: white;
}

/* h1:hover{
  color: rgb(161, 14, 14);
  background-color: white;} */

.webh2{
  text-align: center;
  font-family: helvetica;
  background-color: white;
  color:black;
  font-size: larger;
  margin-bottom: 60px;
}

.webh3{
  text-align: center;
  margin-top: 1em;

}


body{
  align-items: center;
}

body {
  background-image: url(news.jpg);
}

table.article{ margin-left: 3%;}
  .td{
      background-color: white;
    }

table.search{ }
  .td{
    background-color: white;
  }



.questions{
  white-space:pre-wrap;

}

.subbutton {
  align-items: center;
  flex: content;
  background-color: maroon;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin-left: 45px;
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: inherit;
}

.subbutton:hover {
  background-color: gray;
  color: maroon;
}

.subbutton1 {
  background-color: maroon;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  margin-top: -30;
  outline: none;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;

  font-family: inherit;
}

.main {
  margin-left: 140px;
  font-size: 28px;
  padding: 0px 10px;
}
