<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/des.css') }}">
</head>
<style>
    .query{font-size:20px}
    .result{font-size:20px;margin:0 auto;}
    .numbers{color:blue}
</style>
<link rel="stylesheet" href="../static/style/des.css">
<body>
    
<form method="post" action="/">
    <p class = "webh1">HELLO! Welcome to Recognizing Bias in the Media!</p>
    <p class = "webh2">Bias detection in Media is not always so black and white.</p>
    <table>
        <td>
            <p> Link </p>
        </td>
        <td>
            <textarea type="text" class="query" name="input_text" id="input_text" value="" style="width:1000px;height:40px; align-items: center; align-self: auto;" onkeydown="if (event.keyCode == 13) { this.form.submit(); return false; }">{{input_text}}</textarea>
        <input class = "subbutton" type="submit" for="input_text" value="submit">
        </td>
    </table>

    <table>
        <td>
            <p> return </p>
        </td>
        <td>
            <div type="input" class="result" name="res_text" id="res_text" value="" style="width:1000px;height:800px;overflow-y:auto;border-style:solid; color:maroon; border-width:1px; border-color:#000" >{{res_text}} Results Loading...</div>
        </td>
    </table>
    <script>
    var textarea = document.getElementById('res_text');
    textarea.scrollTop = textarea.scrollHeight;
    </script>
</form>
</body>
</html>
